

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #f4f6f8; 
  color: #2c3e50;
  direction: rtl; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal2-popup {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif !important;
  border-radius: 16px !important;
}

.swal-rtl {
    direction: rtl;
    text-align: center;
}